{% extends 'base.html.twig' %}
{% import 'insert/_form-row.html.twig' as formRow %}
{% import 'insert/_delete-form.html.twig' as deleteForm %}

{% set titre %}Créer une collection {% endset %}

{% block title %}{{titre}}{% endblock %}

{% block body %}
    <h1>{{titre}}</h1>

    {{ form_start(form) }}
        {{ formRow.formRow(form.name) }} 
        <button type="submit" class="btn btn-outline-primary mt-4">{{titre}}</button>  
    {{ form_end(form) }}
    
    <a href="{{ path('app_user_collection_index') }}" class="btn btn-outline-secondary mt-4">Retourner à la liste</a>
{% endblock %}
