{% extends 'base.html.twig' %}

{% block title %}Admin - Avis{% endblock %}

{% block body %}
    <h1>Les Avis Utilisateur</h1>

    <a href="{{ path('app_review_new') }}" class="btn btn-outline-primary mt-4 w-100">Creer un avis</a>

    {% import 'insert/_table-td.html.twig' as tableTd %}

    {% set reviewRows = [] %}
    {% for attribute, review in reviews %}
        {% set row %}
            <tr>
                {{ tableTd.td(review.id) }}
                {{ tableTd.td(review.note) }}
                {{ tableTd.td(review.description) }}
                {{ tableTd.td(review.createdAt ? review.createdAt|date('Y-m-d H:i:s') : '') }}
                {{ tableTd.td(review.moderated) }}
                <td>
                        <a href="{{ path('app_review_show', {'id': review.id}) }}">show</a>
                        <a href="{{ path('app_review_edit', {'id': review.id}) }}">edit</a>
                </td>
            </tr>
        {% endset %}
        {% set reviewRows = reviewRows|merge([row]) %}
    {% endfor %}

    {{ include('insert/_table.html.twig', {
        'columns': ['Id', 'Note', 'Description', 'Date de création', 'Êtat', 'Actions'], 
        'rows': reviewRows
        }) 
    }}
{% endblock %}
