{% extends 'base.html.twig' %}
{% import 'insert/_form-row.html.twig' as formRow %}

{% block title %}Créer un produit{% endblock %}

{% block body %}
    <h1>Créer un produit</h1>

    <div class="card-body">
    {{ form_start(form) }}
        {{ formRow.formRow(form.title) }} 
        {{ formRow.formRow(form.description) }} 
        {{ formRow.formRow(form.image) }} 
        {{ formRow.formRow(form.category) }}

        <button type="submit" class="btn btn-outline-primary mt-4">Créer le produit</button>
    {{ form_end(form) }}
    </div>
{% endblock %}
        
