{% extends 'base.html.twig' %}

{% block title %}UserCollection index{% endblock %}

{% block body %}
    <h1>UserCollection index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_collection in user_collections %}
            <tr>
                <td>{{ user_collection.id }}</td>
                <td>{{ user_collection.name }}</td>
                <td>
                    <a href="{{ path('app_user_collection_show', {'id': user_collection.id}) }}">show</a>
                    <a href="{{ path('app_user_collection_edit', {'id': user_collection.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_collection_new') }}">Create new</a>
{% endblock %}
