{% extends 'base.html.twig' %}

{% block title %}Admin - Produit{% endblock %}

{% block body %}
    <h1>Les Produits</h1>

    <a href="{{ path('app_product_new') }}" class="btn btn-outline-primary mt-4 w-100">Creer un produit</a>
    
    {% import 'insert/_table-td.html.twig' as tableTd %}

    {% set productRows = [] %}
    {% for attribute, product in products %}
        {% set row %}
            <tr>
                {{ tableTd.td(product.id) }}
                {{ tableTd.td(product.title) }}
                {{ tableTd.td(product.description) }}
                {{ tableTd.td(product.image ~ ' | <a href="' ~ asset('uploads/images/' ~ product.image) ~ '" style="text-decoration:underline;">Voir l\'image</a>') }}                   {{ tableTd.td(product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '') }}
                {{ tableTd.td(product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '') }}
                <td>
                        <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% endset %}
        {% set productRows = productRows|merge([row]) %}
    {% endfor %}

    {{ include('insert/_table.html.twig', {
        'columns': ['Id', 'Titre', 'Description', 'Image', 'Date de création', 'Date de modification', 'Actions'], 
        'rows': productRows
        }) 
    }}


{% endblock %}
