{% extends 'base.html.twig' %}
{% import 'insert/_form-row.html.twig' as formRow %}
{% import 'insert/_delete-form.html.twig' as deleteForm %}

{% set titre %}
    {% if action != 'new' %}
        Modifier
    {% else %}
        Créer
    {% endif %}
    un utilistaur
{% endset %}

{% block title %}{{titre}}{% endblock %}

{% block body %}
    <h1>{{titre}}</h1>

    {{ form_start(form) }}
        {{ formRow.formRow(form.email) }} 
        {{ formRow.formRow(form.roles) }} 
        {% if action != 'new' %}
            {{ formRow.formRow(form.password, {'required': false}) }}
        {% else %}
            {{ formRow.formRow(form.password) }}
        {% endif %}    

        
        {{ formRow.formRow(form.pseudo) }} 

        <button type="submit" class="btn btn-outline-primary mt-4">{{titre}}</button>  
    {{ form_end(form) }}

{% if action != 'new' %}
    {{ deleteForm.deleteForm('app_user_delete', user.id) }} 
{% endif %} 
    <a href="{{ path('app_user_index') }}" class="btn btn-outline-secondary mt-4">Retourner à la liste</a>
{% endblock %}
